 .Navbar{
    background-color: #414577;
    text-align: center;
    height: 60px;
    width: 100%;
 }

 /* Dropdown Button */
 .dropbtn {
    background-color: #414577;
    color: rgb(153, 153, 153);
    font-size: 16px;
    border: none;
    height: 60px;
    width: 150px;
    text-align: center;
    display: inline-block;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(153,153,153);
    /* min-width: 500px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #414577;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin: 5px 20px;
  }


  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: table-row;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(153,153,153);
    color: #414577;
} 

.subject{
    display: table-cell;
    margin-right: 10px 20px;
}
h1{
    font-size: 15px;
    color: #414577;
    text-decoration: underline;
    margin: 10px 20px;
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(153, 153, 153);
}

/* .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 3rem;
      flex-direction: column;
      background-color: #414577;
      width: 100%;
      border: none;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .Navbar.active{
    height: 100%;
    left: 0;
    height: 100%;
    z-index: 2;
    text-align: left;
    flex-direction: column;
  }

  .nav-menu.active {
    height: 100%;
    left: 0;
    height: 100%;
    z-index: 2;
    text-align: left;
    flex-direction: column;
  }

  .dropdown {
      margin: 2.5rem 0;
      width: 100vw;
  }

  .dropdown.active{
    width: 100vw;
    z-index: 2;
  }

  .dropbtn.active{
    width: 100%;
    z-index: 2;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      float: left;
      padding-left: 3%;
      padding-top: 2%;
      z-index: top;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
      z-index: top;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      z-index: top;
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      z-index: top;
  }

}