body{
    background-color: rgb(197, 197, 197);
}

.pdfDisplay{
    float:center;
    margin: 2%;
    z-index: 1;
    position: relative;
}

.controlButton{
    width: 100px;
    height: 30px;
    background-color: rgb(153, 153, 153);
    border-color: rgb(153, 153, 153);
    margin: 2px 0px;
    border-radius: 10px;
    color: #414577;
    font-size: 15px;
    text-align: center;
    /* font-weight: bold; */
    
}

.navigation{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

h2{
    margin: 0px;
}