body{
    /* text-align: center;
    float: center; */
    background-color: rgb(197, 197, 197);
}

.pdfDisplay{
    width: 100vw;
    text-align: center;
    z-index: 1;
    position: relative;
}

.controlButton{
    width: 100px;
    height: 30px;
    background-color: rgb(153, 153, 153);
    border-color: rgb(153, 153, 153);
    margin: 2px 1px;
    border-radius: 10px;
    color: #414577;
    font-size: 15px;
    text-align: center;
    /* font-weight: bold; */
    
}

#rb{
    margin-right: 2%;
}
#lb{
    margin-left: 2%;
}
.pdfs{
    float: center;
    text-align: center;
    padding-left: 20vw;
}

.navigation{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0px;
}
